.myPhoto{
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 100px;
  cursor: pointer;
}

.aboutMeText{
  text-align: left;
  font-size: 2rem;
  line-height: 45px;
  cursor: pointer;
  
}

.aboutMeTextContainer{
  display: flex;
  align-items: first baseline;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  max-width:50vw;
}

.containerRow{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 50px;
}

@media (max-width: 768px) {
  .myPhoto{
   display: none;
  }

  .aboutMeText{
    font-size: 1.5rem;
    width: 100%;
    line-height: 30px;
  }

  .aboutMeTextContainer{
    max-width:100%;
    padding: 10px;
  }

  .containerRow{
    flex-direction: column;
    gap: 20px;
   }
}